@using GlobalInformation.Domain;
@model SubRegionDetails

<style>

    body {
        font-family: 'Roboto', sans-serif;
        font-size: .875rem
    }

    td {
        padding: .25rem 1rem;
        border-bottom: 1px solid #f1f1f1
    }

    table {
        border-collapse: collapse;
        border: 1px solid #f1f1f1;
    }

    tr:nth-child(even) {
        background: #fafafa
    }

    td:nth-child(odd) {
        font-weight: bold;
    }

    .small {
        font-size: .685rem;
        color: orangered
    }

    svg {
        fill: orangered;
        width: 20px
    }

    a {
        cursor: pointer
    }
</style>

<div class="container mt-4">
    <h4>@Model.Name</h4>
    <table>
        <tr>
            <td>Population</td>
            <td>@Model.Population</td>
        </tr>
        <tr>
            <td>Region</td>
            <td>@Model.Region</td>
        </tr>
        <tr>
            <td colspan="2">Countries in this Subregion</td>
        </tr>
        <tr>
        <tr>
            <td colspan="2">
                <ul>
                        @foreach (var country in Model.Countries)
                        {
                        <li>
                            <a href="#" class="country-link" data-country="@country">
                                    @country
                            </a>
                        </li>
                        }
                </ul>
            </td>
        </tr>
    </table>
</div>